*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: jose;
    src: url(./assets/fonts/jose.ttf);
}

@font-face {
    font-family: shine;
    src: url(./assets/fonts/OMEGLE.otf);
}

::-webkit-scrollbar
{
    width: 3px;
    height: 80%;
	background-color: transparent;
}
::-webkit-scrollbar-track
{
    background:transparent;
}
::-webkit-scrollbar-thumb
{
    background-color:#1490ce;
    width: 3px;
	border-radius: 20px;
}
::-webkit-scrollbar:hover ::-webkit-scrollbar-thumb{
    width: 3px;
}

.click{
    cursor: pointer;
    transition: all linear .3s;
}

.click:active
{
    transform: scale(1.05);
}

.transparent_comp
{
    border: 1px solid rgba(255,255,255,.2);
    background-color: rgba(15, 15, 15, .5);
    transition: background linear .3s;
}

.transparent_comp:hover
{
    background-color:rgba(20, 144, 206, 0.202);
}

.page5Tabs
{
    width: 50%;
}

.page5Tabs_parent
{
    flex-direction: row;
    padding: 0px 20px;
}

h1
{
    font-size: 65px;
    font-weight: 300;
}

.launch_btn
{
    border:1px solid rgba(255, 255, 255, 0.493);
    background:#333;
    transition: background linear .3s;
    cursor: pointer;
}

.launch_btn:hover
{
    border:1px solid rgba(255, 255, 255, 1);
    background:#1490ce;
}

.about_page_child1
{
    width:50%;
}

.page4_child1
{
    width:40%;
}

.page4_child2
{
    width:calc(100% - (30% + 10px));
}

.about_page_child2
{
    width:calc(100% - (50% + 10px));
}

@media screen and (max-width:900px) {
    .page5Tabs
    {
        width:100%;
    }

    .page5Tabs_parent
    {
        flex-direction: column;
        padding: 0px 0px;
    }
}

.navClick{
    padding:10px 20px;
    background:radial-gradient(#1490ce , #0d6089);
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    border-radius: 7px;
    cursor: pointer;
}
.navClick:active
{
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: translateX(-1px);
}

@media screen and (max-width:843px) {
    .about_page_child2 , .about_page_child1 , .page4_child1 , .page4_child2
    {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        margin-bottom: 20px;
        font-size: 50px;
    }
}

@media screen and (max-width: 479px) {
    .heading-7 {
        font-size: 30px;
    }
}

.autoType
{
    border-right: 8px solid #171717;
    animation:autoType;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    /* box-shadow:2px 2px 2px #01283c; */
}

.floatingTxt
{
    transition: all linear .1s;
}
.floatingTxt:hover
{
    transform: scale(1.03);
}

/*ANIMATIONS SECTION*/
.h1_animate
{
    animation-name: h1_animate;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes autoType {
    from
    {
        opacity:0;
    }

    to
    {
        opacity: 1;
    }
}

@keyframes h1_animate {
    0%
    {
        opacity: 0;
        transform: translateX(-50px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

.about_animate .img
{
    animation-name: about_animate_img;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.navDropDown
{
    animation-name: navDropDown;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.about_animate .text
{
    animation-name: about_animate_text;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes about_animate_img {
    0%
    {
        opacity: 0;
        transform: translateY(200px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes navDropDown {
    0%
    {
        /* opacity: 0; */
        transform: translateY(-100%);
    }
    100%
    {
        /* opacity: 1; */
        transform: translateY(0px);
    }
}

@keyframes about_animate_text {
    0%
    {
        opacity: 0;
        transform: translateY(-200px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

.join_animate .text1
{
    animation-name: join_animate_text1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.join_animate .text2
{
    animation-name: join_animate_text2;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes join_animate_text1 {
    0%
    {
        opacity: 0;
        transform: translateY(100px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes join_animate_text2 {
    0%
    {
        opacity: 0;
        transform: translateY(-100px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

.feature_animate .text
{
    animation-name: feature_animate_text;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.feature_animate .img
{
    animation-name: feature_animate_img;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes feature_animate_text {
    0%
    {
        opacity: 1;
        transform: translateX(200px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes feature_animate_img {
    0%
    {
        opacity: 0;
        transform: translateX(-200px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toke_animate .text1 , .toke_animate .text2 , .toke_animate .text3 , .toke_animate .text4
{
    animation-name: toke_animate_text1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.toke_animate .text2
{
    animation-name: toke_animate_text2;
}

.toke_animate .text3
{
    animation-name: toke_animate_text3;
}

.toke_animate .text4
{
    animation-name: toke_animate_text4;
}

@keyframes toke_animate_text1 {
    0%
    {
        opacity: 1;
        transform: translateY(100px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes toke_animate_text2 {
    0%
    {
        opacity: 0;
        transform: translateX(-200px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes toke_animate_text3 {
    0%
    {
        opacity: 0;
        transform: translateX(200px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes toke_animate_text4 {
    0%
    {
        opacity: 0;
        transform: translateY(200px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}
